<div class="body-heading mb-5">
  <h1>Dashboard</h1>
</div>
<div class="container container-fluid align-center">
<div class="row justify-center">
  <div class="col-md-6">
    <h2>Update blog</h2>

    <form class="form edit-form" id="{{user_id}}" data-id="{{id}}">
      <div class="form-group">
       <input class="form-input" placeholder="Blog Title" id="update-title" type="text" value="{{name}}"/>
      </div>
      <div class="form-group">
        <textarea class="form-input" placeholder="Blog Text" type="text" row="20" id="update-text">{{text}}</textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="button" id="update" >Update</button>
        <button class="btn btn-primary" type="button" id="delete" >Delete</button>
      </div>
    </form>
  </div>
</div>
</div>
<script src="/js/editblog.js"></script>