<div class="body-heading mb-5">
  <h1>Tech Blog</h1>
</div>
<div class="container container-fluid align-center">
<div class="row justify-center">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
    <a class= "dark" href="/signup">Sign up!</a>
  </div>
</div>
</div>
<script src="./js/login.js"></script>
