<div class="body-heading mb-5">
  <h1>Tech Blog</h1>
</div>
<div class="container container-fluid align-center">
<div class="row justify-center">
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
      <a class= "dark" href="/login">Have an account? Login here</a>
    </form>
  </div>
</div>
</div>
<script src="./js/signup.js"></script>